In [1]:
import pandas as pd

In [9]:
car=pd.read_csv(r"C:\Users\mansisrivastava\Desktop\PythpnDataScienceProject\cars2015.csv")

In [10]:
car.head()

,Make,Model,Type,LowPrice,HighPrice,Drive,CityMPG,HwyMPG,FuelCap,Length,Width,Wheelbase,Height,UTurn,Weight,Acc030,Acc060,QtrMile,PageNum,Size
0,Chevrolet,Spark,Hatchback,12.270,25.560,FWD,30,39,9.0,145,63,94,61,34,2345,4.4,12.8,19.4,123,Small
1,Hyundai,Accent,Hatchback,14.745,17.495,FWD,28,37,11.4,172,67,101,57,37,2550,3.7,10.3,17.8,148,Small
2,Kia,Rio,Sedan,13.990,18.290,FWD,28,36,11.3,172,68,101,57,37,2575,3.5,9.5,17.3,163,Small
3,Mitsubishi,Mirage,Hatchback,12.995,15.395,FWD,37,44,9.2,149,66,97,59,32,2085,4.4,12.1,19.0,188,Small
4,Nissan,Versa Note,Hatchback,14.180,17.960,FWD,31,40,10.9,164,67,102,61,37,2470,4.0,10.9,18.2,196,Small

In [57]:
car.shape     # find rows and columns of dataset

(110, 20)

In [58]:
car.isnull().sum() #  data cleaning (find if any null values in dataset, if any fill with the mean of dataset)

Make         0
Model        0
Type         0
LowPrice     0
HighPrice    0
Drive        0
CityMPG      0
HwyMPG       0
FuelCap      0
Length       0
Width        0
Wheelbase    0
Height       0
UTurn        0
Weight       0
Acc030       0
Acc060       0
QtrMile      0
PageNum      0
Size         0
dtype: int64

In [ ]:
#check different types of make in dataset and occurance(count) of each make in dataset

In [16]:
car.head(2)

,Make,Model,Type,LowPrice,HighPrice,Drive,CityMPG,HwyMPG,FuelCap,Length,Width,Wheelbase,Height,UTurn,Weight,Acc030,Acc060,QtrMile,PageNum,Size
0,Chevrolet,Spark,Hatchback,12.270,25.560,FWD,30,39,9.0,145,63,94,61,34,2345,4.4,12.8,19.4,123,Small
1,Hyundai,Accent,Hatchback,14.745,17.495,FWD,28,37,11.4,172,67,101,57,37,2550,3.7,10.3,17.8,148,Small

In [20]:
car['Make'].value_counts()

Chevrolet     8
Toyoto        7
Hyundai       7
Ford          7
Nissan        6
Audi          6
Kia           5
BMW           5
Cadillac      4
Honda         4
Mazda         3
Subaru        3
Volkswagon    3
Dodge         3
Chrysler      3
Buick         3
Lincoln       2
Jeep          2
Porche        2
Acura         2
Lexus         2
Jaguar        2
Volvo         2
Mercedes      2
Infiniti      2
Dodge         2
Scion         2
GMC           2
Mitsubishi    1
Maserati      1
Subaru        1
Chevrolet     1
Mazda         1
Buick         1
Fiat          1
Land Rover    1
Ford          1
Name: Make, dtype: int64

In [31]:
# filtering (to show dataset where Model is Accent or Spark  )

In [29]:
car[car['Model'].isin(['Accent','Spark'])]

,Make,Model,Type,LowPrice,HighPrice,Drive,CityMPG,HwyMPG,FuelCap,Length,Width,Wheelbase,Height,UTurn,Weight,Acc030,Acc060,QtrMile,PageNum,Size
0,Chevrolet,Spark,Hatchback,12.270,25.560,FWD,30,39,9.0,145,63,94,61,34,2345,4.4,12.8,19.4,123,Small
1,Hyundai,Accent,Hatchback,14.745,17.495,FWD,28,37,11.4,172,67,101,57,37,2550,3.7,10.3,17.8,148,Small

In [30]:
#Removing unwanted records (to remove dataset where weight is above 4000)

In [37]:
car[~(car['Weight']>4000)]

,Make,Model,Type,LowPrice,HighPrice,Drive,CityMPG,HwyMPG,FuelCap,Length,Width,Wheelbase,Height,UTurn,Weight,Acc030,Acc060,QtrMile,PageNum,Size
0,Chevrolet,Spark,Hatchback,12.270,25.560,FWD,30,39,9.0,145,63,94,61,34,2345,4.4,12.8,19.4,123,Small
1,Hyundai,Accent,Hatchback,14.745,17.495,FWD,28,37,11.4,172,67,101,57,37,2550,3.7,10.3,17.8,148,Small
2,Kia,Rio,Sedan,13.990,18.290,FWD,28,36,11.3,172,68,101,57,37,2575,3.5,9.5,17.3,163,Small
3,Mitsubishi,Mirage,Hatchback,12.995,15.395,FWD,37,44,9.2,149,66,97,59,32,2085,4.4,12.1,19.0,188,Small
4,Nissan,Versa Note,Hatchback,14.180,17.960,FWD,31,40,10.9,164,67,102,61,37,2470,4.0,10.9,18.2,196,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,BMW,X1,SUV,31.200,39.100,RWD,22,33,16.6,175,71,104,61,40,3780,2.7,6.8,15.3,109,Small
80,Jeep,Compass,SUV,18.995,28.795,FWD,21,26,13.6,173,69,104,65,38,3590,4.1,10.3,17.9,159,Small
81,Land Rover,Range Evoque,SUV,41.100,60.000,AWD,18,28,18.1,172,77,105,64,38,3940,2.9,7.2,15.7,168,Small
83,Nissan,Rogue,SUV,22.790,29.630,FWD,25,32,14.5,182,72,107,66,38,3590,3.7,9.5,17.3,194,Small
84,Subaru,Forester,SUV,22.195,33.095,AWD,24,32,15.9,181,71,104,66,37,3370,3.5,8.7,16.8,205,Small

In [43]:
#Apply function on a column(Increase values of length column by 3)

In [55]:
#car['Length']=car['Length']+3
car['Length']=car['Length'].apply(lambda x:x+3)

In [56]:
car

,Make,Model,Type,LowPrice,HighPrice,Drive,CityMPG,HwyMPG,FuelCap,Length,Width,Wheelbase,Height,UTurn,Weight,Acc030,Acc060,QtrMile,PageNum,Size
0,Chevrolet,Spark,Hatchback,12.270,25.560,FWD,30,39,9.0,148,63,94,61,34,2345,4.4,12.8,19.4,123,Small
1,Hyundai,Accent,Hatchback,14.745,17.495,FWD,28,37,11.4,175,67,101,57,37,2550,3.7,10.3,17.8,148,Small
2,Kia,Rio,Sedan,13.990,18.290,FWD,28,36,11.3,175,68,101,57,37,2575,3.5,9.5,17.3,163,Small
3,Mitsubishi,Mirage,Hatchback,12.995,15.395,FWD,37,44,9.2,152,66,97,59,32,2085,4.4,12.1,19.0,188,Small
4,Nissan,Versa Note,Hatchback,14.180,17.960,FWD,31,40,10.9,167,67,102,61,37,2470,4.0,10.9,18.2,196,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Toyoto,Sequioa,7Pass,44.395,64.320,RWD,12,18,26.4,208,80,122,75,42,6025,2.7,7.1,15.6,214,Large
106,Nissan,Pathfinder,7Pass,29.510,43.100,FWD,19,25,19.5,195,73,112,72,40,4505,3.2,7.7,16.0,193,Midsized
107,Acura,MDX,7Pass,42.865,57.080,FWD,18,27,19.5,197,77,111,68,40,4200,3.0,7.2,15.6,98,Midsized
108,Hyundai,Santa Fe,7Pass,30.150,36.000,FWD,18,24,19.0,196,74,110,67,39,4210,3.0,7.6,16.1,151,Midsized
109,GMC,Yukon,7Pass,47.740,67.520,RWD,16,22,26.0,207,81,116,74,41,5635,2.8,7.7,15.9,142,Large